<title>Add New Restaurant</title>

<h1>ADD RESTAURANT</h1>
<p style="background-color: white;"> We're always open to changes and user input as we're a community. If you have
    anything to add, please do! </p>
<form action="/restaurants" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required placeholder="Name"> <br>

    <label>Image:</label><br>
    <input type="url" name="image" required placeholder="https://www.images.google.com"><br><br>

    <input type="submit" value="Submit">
</form>