<!-- style of all pages to follow -->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- enabling the code to be responsive -->
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    {{{body}}}
</body>

</html>