* {                 /* applies to all elements */
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://media.istockphoto.com/photos/newspaper-with-old-grunge-vintage-unreadable-paper-texture-background-picture-id1130355559?b=1&k=6&m=1130355559&s=612x612&w=0&h=likqSdAy6e92f3G433HI5sO3RoWAtgUfreVDAtcvVfE=");
    background-color: #cccccc;
   }

/* css defaults for mobile devices */

h1 {
    width:800px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 3px black;
    padding: 1rem;
}

article {
    border: solid 3px black;  /* adds a border around the box */
    width: calc(100% - 2rem);
    height: 27em;
    margin: 10rem 10rem;
    border-radius: 25px;
    background: white
}

article header {
    height: 24rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 40em) {
    /* css overrides for mid-sized screens goes here */
      section {
          margin: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: none;
          gap: 1rem;
      }
      article {
          margin: 0;
          width: 100%;
      }
  }

  @media screen and (min-width: 60em) {
    /* css overrides for large screens goes here */
    section {
        grid-template-columns: auto auto auto;
    }
}

dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
