* {                 /* applies to all elements */
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/03/54/96/98/360_F_354969808_ic4xcyLg4dUxOwVcgEtyM0g6Bx4LkXTJ.jpg");
    background-color: #cccccc;
   }

/* css defaults for mobile devices */

h1 {
    width:800px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 3px black;
    padding: 1rem;
}

article {
    border: solid 3px black;  /* adds a border around the box */
    width: calc(100% - 2rem);
    height: 27em;
    margin: 10rem 10rem;
    border-radius: 25px;
    background: white
}

article header {
    height: 24rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: flex-start;
    text-align: center;
}

@media screen and (min-width: 40em) {
    /* css overrides for mid-sized screens goes here */
      section {
          margin: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: none;
          gap: 1rem;
      }
      article {
          margin: 0;
          width: 100%;
      }
  }

  @media screen and (min-width: 60em) {
    /* css overrides for large screens goes here */
    section {
        grid-template-columns: auto auto auto;
    }
}

dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

menu {                /* applies to all elements */
        padding: 0;
        margin: 0;
    }
    
    body {
        background-image: url("https://t3.ftcdn.net/jpg/03/54/96/98/360_F_354969808_ic4xcyLg4dUxOwVcgEtyM0g6Bx4LkXTJ.jpg");
        background-color: #cccccc;
       }
    
    /* css defaults for mobile devices */
