
* {                 /* applies to all elements */
    padding: 2.5px;
    margin: 2.5px;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/03/54/96/98/360_F_354969808_ic4xcyLg4dUxOwVcgEtyM0g6Bx4LkXTJ.jpg");
    background-color: #cccccc;
   }

/* css defaults for mobile devices */

 h1 {
    width:800px;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 3px black;
    padding: 1rem;
} 

article {
    border: solid 3px black;  /* adds a border around the box */
    width: calc(100% - 2rem);
    height: auto;
    margin: 10rem 10rem;
    border-radius: 25px;
    background: white
}

article header {
    height: 24rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: flex-start;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 40em) {
    /* css overrides for mid-sized screens goes here */
      section {
          margin: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: none;
          gap: 1rem;
      }
      article {
          margin: 0;
          width: 100%;
      }
  }

  @media screen and (min-width: 60em) {
    /* css overrides for large screens goes here */
    section {
        grid-template-columns: auto auto auto auto;
    }
}

dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

menu {                /* applies to all elements */
        padding: 0;
        margin: 0;
    }
    
    body {
        background-image: url("https://t3.ftcdn.net/jpg/03/54/96/98/360_F_354969808_ic4xcyLg4dUxOwVcgEtyM0g6Bx4LkXTJ.jpg");
        background-color: #cccccc;
       }
    
    /* css defaults for mobile devices */

    /* CSS for navbar */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(8, 8, 8);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgb(116, 20, 103);
      }

      .image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    

    .modal-window {
        position: fixed;
        background-color: rgba(200, 200, 200, 0.75);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      
      .modal-window:target {
        opacity: 1;
        pointer-events: auto;
      }
      
      .modal-window>div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 2rem;
        background: #fff;
        color: #444;
        size: auto;
      }
      
      .modal-window header {
        font-weight: bold;
      }
      
      .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
      }
      
      .modal-close:hover {
        color: #000;
      }
      
      .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
      }  

      .rate {
        float:left;
        height: 46px;
        padding: 0 10px;
        
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }